:root{
  --primary-accent : #fea000;
  --background: #121212;
  --text: #eaeaea;
  --muted:#888888;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body, h1, h2, h3, h4, button{
    -webkit-font-smoothing: antialiased;
    font-family: "Sora", sans-serif;
    font-weight: 200;
    background-color: var(--background);
    color: var(--primary-accent);
}

.containerPrincipal{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.tituloPrincipal{
  position: absolute;
  margin-top: 10px;
  font-size: 5.5vw;
  animation: fadeSlide 1s ease forwards;
  margin-left: 2%;
}
.tituloPrincipal2{
  position: absolute;
  right: 0;
  top: 75vh;
  font-size: 5.5vw;
  animation: fadeSlide1 1s ease forwards;
  margin-right: 2%;
}
.subTitulo{
  position: absolute;
  top: 75vh;
  animation: fadeSlide2 1s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
  margin-left: 2%;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 0;
  width: 40px;
  margin-top: 10px;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: var(--primary-accent);
}

.containerProjetos{
  margin-top: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interno{
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  flex-direction: column;
}
.tituloC{
  font-size: 2rem;
}
.projeto{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.space{
  margin-top: 50px;
}
.inverseProjeto{
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: row-reverse;
}
.imagemProjeto{
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.seta {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-accent);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.seta:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.seta:first-of-type {
  left: 0px;
}
.seta:last-of-type {
  right: 0px;
}

.img{
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}
.explicaoProjeto{
  padding: 5px 10px;
  width: 50%;
}
.headerProjeto{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo{
  font-size: 1.5rem;
}
.subT{
  color: var(--muted);
}
.texto{
  color: var(--text);
  margin-top: 20px;
  overflow-y: auto;
  max-height: 170px;
}
.sobre{
  margin-top: 50px;
  color: var(--text);
  text-align: center;
  font-size: 1.3rem;
}
.containerContato{
  display: flex;
  color: var(--text);
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.links{
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin-top: 15px;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-30PX);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlide1 {
  0% {
    opacity: 0;
    transform: translateY(30PX);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlide2 {
  0% {
    opacity: 0;
    transform: translateX(-30PX);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transition: opacity 1s ease;
}
.reveal.active {
  opacity: 1;
}

@media (max-width: 768px){

.subTitulo{
  position: absolute;
  top: 40vh;
  animation: fadeSlide2 1s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
  margin-left: 2%;
}

.projeto{
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.inverseProjeto{
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.imagemProjeto{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.explicaoProjeto{
  padding: 5px 10px;
  width: 100%;
}

.space{
  margin-top: 20px;
}

.tituloPrincipal{
  position: absolute;
  margin-top: 10px;
  font-size: 5.5vw;
  animation: fadeSlide 1s ease forwards;
  margin-left: 10%;
}
.tituloPrincipal2{
  position: absolute;
  right: 0;
  top: 75vh;
  font-size: 5.5vw;
  animation: fadeSlide1 1s ease forwards;
  margin-right: 10%;
}
}